@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

li {
  list-style-type: none;
}

.container {
  padding: 20px 5%;
  display: flex;
  flex-direction: column;
}

div.greetings {
  flex: auto;
  height: 150px;
  background-color: rgb(219, 234, 254);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.greetings > a {
  border-radius: 50px;
}

.recent-published,
.categories {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.recent-published > p,
.categories > p {
  font-size: 30px;
  font-weight: 700;
}

.category_title {
  display: flex;
  gap: 15px;
  align-items: center;
}

.category_name {
  color: black;
  font-size: large;
  font-weight: 700;
}

.see_all {
  font-size: medium;
  font-weight: 500;
}

.quiz {
  display: flex;
  gap: 20px;
}

.recent-published .img,
.categories .img {
  height: 150px;
  width: 150px;
  border: 0;
}

.img img,
.img img {
  height: 150px;
  width: 150px;
  border-radius: 12px;
  object-fit: cover;
}

.subcategory {
  display: flex;
}

.subcategory > .img {
  height: 100px;
  width: 100px;
  border: 0;
  margin-right: 20px;
}

.subcategory > .img img {
  height: 100px;
  width: 100px;
  border-radius: 12px;
  object-fit: cover;
}

.sub_details {
  display: flex;
  flex-direction: column;
}

.sub_details > a {
  font-size: large;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.sub_details > div {
  display: flex;
  gap: 15px;
}

.sub_details > div p:first-child > img {
  margin-right: 10px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}

.profile_image {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_image > img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile_details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.username {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.profile_details > a {
  border-radius: 50px;
}

.library {
  margin-top: 20px;
}

.library > p {
  color: black;
  font-size: large;
  font-weight: 700;
}

.quiz > .add_quiz {
  height: 150px;
  width: 150px;
  border: 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1d5db;
}

.add_quiz > a {
  border-radius: 50px;
}

.justify-content-end > .profile_image {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}