{% extends "_base.html" %}
{% block content %}
  <div class="container">
    <div class="greetings">
      <h4>Welcome {{ user.username }}</h4>
      <a class="btn btn-outline-primary" href="{% url 'create_quiz' %}">Add Quiz</a>
    </div>
    <div class="recent-published">
      <p>Recently Published</p>
      <div class="quiz">
        {% for subcategory in recent_subcategories %}
        <div>
          <div class="img">
            <a href="{{ subcategory.get_absolute_url }}"><img src="{{ subcategory.cover.url}}"></a>
          </div>
          <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
          <p>By {{ subcategory.creator }}</p>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="categories">
      {% for category_data in categories_and_subcategories %}
        {% if category_data.subcategories %}
          <div class="category_title">
            <p class="category_name">{{ category_data.category.name }}</p>
            <p class="see_all"><a href="{% url 'category' slug=category_data.category.slug %}">See all ({{ category_data.subcategory_count }}).</a></p>
          </div>
          <div class="quiz">
          {% for subcategory in category_data.subcategories %}
              <div>
                <div class="img">
                  <a href="{{ subcategory.get_absolute_url }}"><img src="{{ subcategory.cover.url}}"></a>
                </div>
                <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                <p>By {{ subcategory.creator }}</p>
              </div>
          {% endfor %}
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
