{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <input class="btn btn-outline-primary" type="submit" value="Update"> | <a class="btn btn-outline-primary" href="{% url 'add_question' subcategory_id=subcategory.id %}">Add Questions</a>
  </form>

  <ul>
    {% for question_data in questions_and_choices %}
      <h3>{{ question_data.question.text }}</h3>
      <ul>
          {% for choice in question_data.choices %}
            <li>{{ choice.text }}</li>
          {% endfor %}
        </ul>
        <a class="btn btn-outline-primary" href="{% url 'edit_question' subcategory_id=subcategory.id pk=question_data.question.id %}">Edit</a> | <a class="btn btn-outline-primary" href="{% url 'question_delete' pk=question_data.question.id %}">Delete</a>
    {% endfor %}
  </ul>
</div>
{% endblock content %}